.pokemon-card--container {
  margin: 20px 0;
  padding: 20px;
  background-color: lightgrey;
}

.pokemon-card--img-wrapper img {
  max-width: 100%;
  max-height: 150px;
}

.pokemon-card--header {
 text-align: center;
 line-height: 0.6;
}